body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 837px) {
  .container {
    max-width: 600px;
  }
}

@media (max-width: 633px) {
  .container {
    max-width: 400px;
  }
}

@media (max-width: 436px) {
  .container {
    max-width: 300px;
  }
}

.form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form .input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
  border-radius: 6px;
  transition: border-color 0.3s;
}

.form .input:focus {
  border-color: #888;
}

.form .add {
  border: none;
  outline: none;
  background-color: #F44336;
  border-radius: 6px;
  padding: 8px 16px;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form .add:hover {
  background-color: #d32f2f;
}

.tasks {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tasks .task {
  background-color: #fff;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.tasks .task:hover {
  transform: scale(1.02);
}

.tasks .task.completed .task-title {
  text-decoration: line-through;
  color: gray;
}

.tasks .task .task-title {
  flex-grow: 1;
}

.tasks .task .complete {
  margin-right: 10px;
}

.tasks .task .del {
  border: none;
  outline: none;
  background-color: #F44336;
  border-radius: 6px;
  padding: 8px 16px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tasks .task .del:hover {
  background-color: #d32f2f;
}
